<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Show Detail</title>
</head>

<body>
    <div class="container">
        <a style="position: relative; left: 92%" href="/shows">Go Back</a>
        <ul>
            <li><h1>{{added_show.title}}</h1></li>
            <li><h3>{{added_show.network}}</h3></li>
            <li>{{added_show.release_date}}</li>
            <li><q>{{added_show.desc}}</q></li>
            <li>Last updated {{added_show.updated_at}}</li>
            <li><a href="/shows/delete/{{added_show.id}}">Delete</a> | <a href="/shows/edit/{{added_show.id}}">Edit</a></li>
        </ul>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>