<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>
<body>
    <h1>Add a Dojo</h1>
    <form action="/Dojo" method="post">
        {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="">City</label>
    <input type="text" name="city">
    <label for="">State</label>
    <input type="text" name="state">
    <div><button name="button">Add</button></div>
    </form>
    <form action="/Ninja" method="post">
        
        {% csrf_token %}
    <h1>Add a Ninja</h1>
    <label for="">First Name</label>
    <input type="text" name="FirstName">
    <label for="">last Name</label>
    <input type="text" name="LastName">
    <label for="">Dojo</label>
    <select name="dojo" id="dojo">
        {% for dojo in Dojo %}
        <option value="{{dojo.name}}">{{dojo.name}}</option>
        {% endfor %}
        </select>
    <div><button name="button">Add</button></div>

</form  >
    <h1>Dojo </h1>
    <ul>
    {% for dojo in Dojo %}
        <li>{{dojo.name}}
        <ul>
            
            {% for nanja in dojo.ninjas.all %}	
            <li><em>{{nanja.first_name}}</em></li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>






</body>
</html>