<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
    <title>Document</title>
</head>
<body>
    <h1>All Shows</h1>
    <table class="table">
        <tr>
        <th>id</th>
        <th>title</th>
        <th>Network</th>
        <th>release_date</th>
        <th>Actin</th>

        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.Title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td><a style="padding: 10px;" href="/shows/{{show.id}}">show</a><a   style="padding: 10px;" href="/editing/{{show.id}}">Edit</a><a  style="padding: 10px;" href="/delete/{{show.id}}">Delete</a></td>


        </tr>
        {% endfor %}
    </table>
    <a href="/shows/new">Add a New Show</a>
</body>
</html>
