<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV shows</title>
</head>
<body>

<h1>Add a new show </h1>
    <form action="/shows/create" method="post">
        {% csrf_token %}
    <label >title</label>
    <input type="text" name="title">
    <label >Network</label>
    <input type="text" name="Network">
    <label >Date</label>
    <input type="date" name="Date">
    <label >Dec</label>
    <textarea name="Dec" id="" cols="30" rows="10" ></textarea>
    <button type="submit" name="submit">Great</button>

</form>
<a href="/shows"name="">Go Back</a>
</body>
</html>